
<nav class="container">
        <ul>
            <li>
                <a href="/">
                    <strong>{{t("SITE_NAME")}}</strong>
                </a>
            </li>
        </ul>
        <ul>
            <li><a href="#">{{t("ABOUT")}}</a></li>
            <li><a href="#">{{t("SERVICES")}}</a></li>
            <li><a href="#">{{t("PRODUCTS")}}</a></li>
            <li>
                <select name="select" required>
                    <option selected disabled value="">{{t("LANGUAGE")}}</option>
                    <option onclick="">English</option>
                    <option>Slovenščina</option>
                    <option>Deutsch</option>
                </select>
            </li>
        </ul>
    </nav>
    <hr>